<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-i-18-n-heading" data-cy="I18nCreateUpdateHeading" jhiTranslate="cftcApp3App.i18n.home.createOrEditLabel">
        Create or edit a I 18 N
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cftcApp3App.i18n.fr" for="field_fr">Fr</label>
          <input type="text" class="form-control" name="fr" id="field_fr" data-cy="fr" formControlName="fr" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cftcApp3App.i18n.en" for="field_en">En</label>
          <input type="text" class="form-control" name="en" id="field_en" data-cy="en" formControlName="en" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
