<div class="container" [ngSwitch]="isAuthenticated()">
  <br />
  <br />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngSwitchCase="true">
      <div class="col" *ngFor="let mainr of mainsr">
        <div *ngIf="mainr.subLink">
          <a [routerLink]="['/sub', mainr.subLink?.id, 'view']">
            <div class="card shadow" style="max-width: 300px; max-height: 400px">
              <div class="card-img">
                <img
                  class="rounded mx-auto d-block"
                  [src]="'data:' + mainr.imageContentType + ';base64,' + mainr.image"
                  style="max-height: 300px; max-width: 300px"
                  alt="maina image"
                />
              </div>
              <div class="card-body">
                <span *ngIf="getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleFr?.fr }}</h4>
                </span>
                <span *ngIf="!getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleEn?.en }}</h4>
                </span>
                <span *ngIf="getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionFr?.fr }}</h6>
                </span>
                <span *ngIf="!getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionEn?.en }}</h6>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="mainr.link">
          <a [href]="mainr.link?.theLink">
            <div class="card shadow" style="max-width: 300px; max-height: 400px">
              <div class="card-img">
                <img
                  class="rounded mx-auto d-block"
                  [src]="'data:' + mainr.imageContentType + ';base64,' + mainr.image"
                  style="max-height: 300px; max-width: 300px"
                  alt="maina image"
                />
              </div>
              <div class="card-body">
                <span *ngIf="getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleFr?.fr }}</h4>
                </span>
                <span *ngIf="!getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleEn?.en }}</h4>
                </span>
                <span *ngIf="getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionFr?.fr }}</h6>
                </span>
                <span *ngIf="!getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionEn?.en }}</h6>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="mainr.linkData">
          <a [routerLink]="['/link-data', mainr.linkData?.id, 'view']">
            <div class="card shadow" style="max-width: 300px; max-height: 400px">
              <div class="card-img">
                <img
                  class="rounded mx-auto d-block"
                  [src]="'data:' + mainr.imageContentType + ';base64,' + mainr.image"
                  style="max-height: 300px; max-width: 300px"
                  alt="maina image"
                />
              </div>
              <div class="card-body">
                <span *ngIf="getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleFr?.fr }}</h4>
                </span>
                <span *ngIf="!getlanguage()">
                  <h4 class="card-title font-weight-bold">{{ mainr.titleEn?.en }}</h4>
                </span>
                <span *ngIf="getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionFr?.fr }}</h6>
                </span>
                <span *ngIf="!getlanguage()">
                  <h6 class="card-text font-italic font-weight-light">{{ mainr.descriptionEn?.en }}</h6>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div *jhiHasAnyAuthority="'ROLE_ADMIN'" style="max-width: 300px">
          <div class="text-center">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/main', mainr.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/main', mainr.id, 'edit']" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mainr)" class="btn btn-danger btn-sm">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" *ngFor="let maina of mainsa">
      <div *ngIf="maina.subLink">
        <a [routerLink]="['/sub', maina.subLink?.id, 'view']">
          <div class="card shadow" style="max-width: 300px; max-height: 400px">
            <div class="card-img">
              <img
                class="rounded mx-auto d-block"
                [src]="'data:' + maina.imageContentType + ';base64,' + maina.image"
                style="max-height: 300px; max-width: 300px"
                alt="maina image"
              />
            </div>
            <div class="card-body">
              <span *ngIf="getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleFr?.fr }}</h4>
              </span>
              <span *ngIf="!getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleEn?.en }}</h4>
              </span>
              <span *ngIf="getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionFr?.fr }}</h6>
              </span>
              <span *ngIf="!getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionEn?.en }}</h6>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="maina.link">
        <a [href]="maina.link?.theLink">
          <div class="card shadow" style="max-width: 300px; max-height: 400px">
            <div class="card-img">
              <img
                class="rounded mx-auto d-block"
                [src]="'data:' + maina.imageContentType + ';base64,' + maina.image"
                style="max-height: 300px; max-width: 300px"
                alt="maina image"
              />
            </div>
            <div class="card-body">
              <span *ngIf="getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleFr?.fr }}</h4>
              </span>
              <span *ngIf="!getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleEn?.en }}</h4>
              </span>
              <span *ngIf="getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionFr?.fr }}</h6>
              </span>
              <span *ngIf="!getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionEn?.en }}</h6>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div *ngIf="maina.linkData">
        <a [routerLink]="['/link-data', maina.linkData?.id, 'view']">
          <div class="card shadow" style="max-width: 300px; max-height: 400px">
            <div class="card-img">
              <img
                class="rounded mx-auto d-block"
                [src]="'data:' + maina.imageContentType + ';base64,' + maina.image"
                style="max-height: 300px; max-width: 300px"
                alt="maina image"
              />
            </div>
            <div class="card-body">
              <span *ngIf="getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleFr?.fr }}</h4>
              </span>
              <span *ngIf="!getlanguage()">
                <h4 class="card-title font-weight-bold">{{ maina.titleEn?.en }}</h4>
              </span>
              <span *ngIf="getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionFr?.fr }}</h6>
              </span>
              <span *ngIf="!getlanguage()">
                <h6 class="card-text font-italic font-weight-light">{{ maina.descriptionEn?.en }}</h6>
              </span>
            </div>
          </div>
        </a>
      </div>
      <div *jhiHasAnyAuthority="'ROLE_ADMIN'" style="max-width: 300px">
        <div class="text-center">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/main', maina.id, 'view']" class="btn btn-info btn-sm">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button type="submit" [routerLink]="['/main', maina.id, 'edit']" class="btn btn-primary btn-sm">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(maina)" class="btn btn-danger btn-sm">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
