<div>
  <h2 id="page-heading" data-cy="LinkHeading">
    <span jhiTranslate="cftcApp3App.link.home.title">Links</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cftcApp3App.link.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-link"
        [routerLink]="['/link/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cftcApp3App.link.home.createLabel"> Create a new Link </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="links?.length === 0">
    <span jhiTranslate="cftcApp3App.link.home.notFound">No links found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="links && links.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.theRole">The Role</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.image">Image</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.theLink">The Link</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.titleFr">Title Fr</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.titleEn">Title En</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.descriptionFr">Description Fr</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.descriptionEn">Description En</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.sub">Sub</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.link.unSub">Un Sub</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let link of links; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/link', link.id, 'view']">{{ link.id }}</a>
          </td>
          <td jhiTranslate="{{ 'cftcApp3App.TheRole.' + link.theRole }}">{{ link.theRole }}</td>
          <td>
            <a *ngIf="link.image" (click)="openFile(link.image, link.imageContentType)">
              <img [src]="'data:' + link.imageContentType + ';base64,' + link.image" style="max-height: 30px" alt="link image" />
            </a>
            <span *ngIf="link.image">{{ link.imageContentType }}, {{ byteSize(link.image) }}</span>
          </td>
          <td>{{ link.theLink }}</td>
          <td>
            <div *ngIf="link.titleFr">
              <a [routerLink]="['/i-18-n', link.titleFr?.id, 'view']">{{ link.titleFr?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="link.titleEn">
              <a [routerLink]="['/i-18-n', link.titleEn?.id, 'view']">{{ link.titleEn?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="link.descriptionFr">
              <a [routerLink]="['/i-18-n', link.descriptionFr?.id, 'view']">{{ link.descriptionFr?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="link.descriptionEn">
              <a [routerLink]="['/i-18-n', link.descriptionEn?.id, 'view']">{{ link.descriptionEn?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="link.sub">
              <a [routerLink]="['/sub', link.sub?.id, 'view']">{{ link.sub?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="link.unSub">
              <a [routerLink]="['/un-sub', link.unSub?.id, 'view']">{{ link.unSub?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/link', link.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/link', link.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(link)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
