<div>
  <h2 id="page-heading" data-cy="SubHeading">
    <span jhiTranslate="cftcApp3App.sub.home.title">Subs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cftcApp3App.sub.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sub"
        [routerLink]="['/sub/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cftcApp3App.sub.home.createLabel"> Create a new Sub </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subs?.length === 0">
    <span jhiTranslate="cftcApp3App.sub.home.notFound">No subs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subs && subs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.theRole">The Role</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.image">Image</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.titleFr">Title Fr</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.titleEn">Title En</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.descriptionFr">Description Fr</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.descriptionEn">Description En</span></th>
          <th scope="col"><span jhiTranslate="cftcApp3App.sub.unSub">Un Sub</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sub', sub.id, 'view']">{{ sub.id }}</a>
          </td>
          <td jhiTranslate="{{ 'cftcApp3App.TheRole.' + sub.theRole }}">{{ sub.theRole }}</td>
          <td>
            <a *ngIf="sub.image" (click)="openFile(sub.image, sub.imageContentType)">
              <img [src]="'data:' + sub.imageContentType + ';base64,' + sub.image" style="max-height: 30px" alt="sub image" />
            </a>
            <span *ngIf="sub.image">{{ sub.imageContentType }}, {{ byteSize(sub.image) }}</span>
          </td>
          <td>
            <div *ngIf="sub.titleFr">
              <a [routerLink]="['/i-18-n', sub.titleFr?.id, 'view']">{{ sub.titleFr?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sub.titleEn">
              <a [routerLink]="['/i-18-n', sub.titleEn?.id, 'view']">{{ sub.titleEn?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sub.descriptionFr">
              <a [routerLink]="['/i-18-n', sub.descriptionFr?.id, 'view']">{{ sub.descriptionFr?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sub.descriptionEn">
              <a [routerLink]="['/i-18-n', sub.descriptionEn?.id, 'view']">{{ sub.descriptionEn?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sub.unSub">
              <a [routerLink]="['/un-sub', sub.unSub?.id, 'view']">{{ sub.unSub?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/sub', sub.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/sub', sub.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sub)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
